
<ion-content>
  <br>
  <br>
  <img src="https://th.bing.com/th/id/R.c806589295b732b4d13a5b68bbb560a0?rik=iqhl0u4nOvsjkA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_184513.png&ehk=SewvAmum19vsY7YXrHHH2ZPm%2bboA4S2ENK7Gypz6c3A%3d&risl=&pid=ImgRaw&r=0">
  <br> 
  <br>
  <section>
        <ion-button expand="block"
         shape="round" [routerLink]="['/profile']">Profile</ion-button>
        <ion-button expand="block"
         color="secondary" shape="round"  [routerLink]="['/login']">Login</ion-button>
        <ion-button expand="block"
         color="tertiary"  shape="round" [routerLink]="['/register']">Register</ion-button>
  </section>

</ion-content>
